body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5rem 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    letter-spacing: .5rem;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: none;
    letter-spacing: 0.01em;
}
a {
    text-decoration: none;
    color: #fff;
}

input {
    margin: 30px 0;
}
.container {
    height: 60vh;
    margin-top: 15%;
}

@media (max-width:1024px) {
    h1 {
        font-size: 2rem;
    }
    .container {
        height: 70vh;
        margin-top: 25%;
    }
}
